/* header */

.nav{
    position: relative;
    height: 135px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav img{
    height: 50px;
    margin: 20px 40% 0px 20px;
}

.inscrire{
    position: absolute;
    top:40px;
    right: 20px;
}

.lien{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.lien a:nth-child(-n+2){
    display: block;
    text-align: center;
    width: 100%;
    border-bottom:4px solid var(--gris);
}

.lien a:nth-child(-n+2):hover{
    color: var(--bleu);
    border-bottom:4px solid var(--bleu);
}

/*Trouver un hebergement */

.recherche{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    display: none;
}

.btn-search{
    position: absolute;
    left:270px;
    height: 18px;
    width: 18px;
    padding: 13px;
    border-radius: 15px;
    border:none;
    background-color:var(--bleu);
}

.filtre h3:first-child{
    width: 100%;
    margin-bottom: 10px;
}

/* hebergement a marseille */

#hebergement{
    flex-direction: column-reverse;
}

.bg2{
    background-color: var(--gris);
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hotelpop{
    margin-bottom: 10px;
}

.populaire{
    width: 320px;
    height: 500px;
    margin:auto;
}

.populaire h2{
    margin-top: 30px;
}

.trend img{
    margin-top: 30px;
}

.marseille{
    flex-direction: column;
}

.bg{
    width: 315px;
    margin-left: auto;
    margin-right: auto;
}

.bg a{
    display: block;
    margin-top:15px;
}

.hotel{
    width: 300px;
    margin-bottom: 10px;
}

/* Activité */

#activite{
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#activite .flex div{
    width: 305px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(240, 240, 240);   
    margin-bottom: 40px;
    height: 180px;
}

#activite .flex div img{
    width: 100%;
    position: absolute;
}

#activite div p{
    position: absolute;
    font-weight: bolder;
    background-color: white;
    bottom:0px;
    width: 100%;
    padding: 15px;
    margin: 0px;
}

.fort img{
    top:-135px;
}

/* Footer */

footer .bloc_page{
    flex-direction: column;
    padding-bottom: 30px;
}

.bp{
    width: 315px;
    margin-left: auto;
    margin-right: auto;
}

