.bloc_page{
    width: 1200px;
    margin: auto;
}
/*Header*/

.nav{
    justify-content: space-between;
}
.lien{
    margin-top: 0px;
    width: 500px;
    justify-content: space-around;
} 

.lien a{
    padding-top: 25px;
    width: 140px;
    display: flex;
}

.lien a:hover{
    padding-top: 22px;
    border-top: 3px solid var(--bleu);
    transition: 0.2s;
}

.lien a{
    display: block;
    text-align: center;
    width: 100%;
}
.lien a:hover{
    color: var(--bleu);
    transition: 0.2s;
}


.btn-search{
    display: none;
}

/*hebergement*/

#hebergement{
    justify-content: space-between;
}

.bg{
    background-color: var(--gris);
    border-radius: 25px;
    width: 800px;
    height: 580px;
}

.bg h2,.bg a{
    margin: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.marseille{
    width: 750px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.hotel{
    margin-right: 0px;
    margin-bottom:30px;
    margin-left: 20px;
}

.pastablette{
    display: flex;
    justify-content: space-between;
}

/*les plus populaires*/

.bg2{
    background-color: var(--gris);
    border-radius: 25px;
    height: 580px;
    width: 370px;
}

.populaire{
    width: 310px;
    margin:auto
}

.populaire h2{
    margin-top: 40px;
    margin-bottom: 30px;
}

.hotelpop{
    margin-bottom: 30px;
}

.trend img{
    margin-top: 40px;
}

/*Activité a Marseille*/

#activite{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
    flex-direction: column;   
    flex-wrap: wrap;
    align-content: space-between;
    height: 450px;
}

#activite .flex div{
    width: 280px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin-bottom: 40px;
}

.gros{
    height: 400px;
}

.gros img{
    position: absolute;
    height: 400px;
    left:-160px;  
}

.fort{
    height: 210px;
}

.fort img{
    width: 100%;
    position: absolute;
    top:-105px;
}

.petit{
    height: 150px;
}

.petit img{
    width: 100%;
    position: absolute;
    top:-30px;
}

.moyen{
    height: 180px;
}

.moyen img{
    width: 100%;
}

#activite div p{
    position: absolute;
    font-weight: bolder;
    background-color: white;
    bottom:0px;
    width: 100%;
    padding: 15px;
    margin: 0px;
}

/*footer*/
footer{
    height: 200px;
}
.bp{
    margin-right: 150px;
    margin-left: 30px;
}