/*Header*/

.bloc_page{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    justify-content: space-between;
}
.lien{
    margin-top: 0px;
    width: 500px;
    justify-content: space-around;
} 

.lien a{
    padding-top: 25px;
    width: 140px;
    display: flex;
}

.lien a:hover{
    padding-top: 22px;
    border-top: 3px solid var(--bleu);
}

.lien a{
    display: block;
    text-align: center;
    width: 100%;
}
.lien a:hover{
    color: var(--bleu);
}

.btn{
    font-size: 15px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    background-color:var(--bleu);
    color: white;
    font-family: Raleway,"sans-serif";
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border:none;
}

.btn-search{
    display: none;
}


/*hebergement */

.bg{
    background-color: var(--gris);
    border-radius: 25px;
    height: 580px;
}

.bg h2,.bg a{
    margin: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.hotel{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:30px;
}

.marseille{
    height: 450px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.populaire h2{
    margin-top: 40px;
    margin-bottom: 30px;
}

.hotelpop{
    margin-bottom: 30px;
}

/*Activite */

#activite{
    margin-top: 40px;
}

#activite h2{
    text-align: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#activite .flex div{
    width: 280px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(240, 240, 240);   
    margin-bottom: 40px;
    height: 180px;
    margin-left: 10px;
    margin-right: 10px;
}

#activite .flex div img{
    width: 100%;
    position: absolute;
}

#activite div p{
    position: absolute;
    font-weight: bolder;
    background-color: white;
    bottom:0px;
    width: 100%;
    padding: 15px;
    margin: 0px;
}

.fort img{
    top:-105px;
}

/*footer*/
footer .bloc_page{
    justify-content: space-around;
}

/*GRANDES TABLETTES */

@media screen and (min-width:1085px) {
    .lien{
        width: 500px;
    }
    /*hebergement*/
    #hebergement{
        justify-content: space-around;
    }
    
    .bg{
        width: 550px;
    }
    
    .marseille{
        width: 500px;
    }
    
    .pastablette{
        display: none;
    }
    /*les plus populaires*/
    
    .bg2{
        background-color: var(--gris);
        border-radius: 25px;
        height: 580px;
        width: 370px;
    }
    
    .populaire{
        width: 310px;
        margin:auto
    }
}

/*PETITE TABLETTE ET GRANDS SMARTPHONES */

@media screen and (max-width:1084px) {
    .lien{
        width: 500px;
    }

    #hebergement{
        flex-direction: column;
    }

    .bg{
        margin-left: auto;
        margin-right: auto;
        width: 780px;
    }
    
    .marseille{
        width: 750px;
    }

    .pastablette{
        margin:0px;
        display: flex;
        justify-content: space-between;
    }

    .bg2{
        height: 580px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width:845px){
    .lien{
        width: 375px;
    }
    .bg{
        width: 100%;
    }
    
    .marseille{
        width: 500px;
    }
    
    .pastablette{
        display: none;
    }
    
}
